services:
  loadbalancer:
    build:
      context: ./sdloadbalancer
      dockerfile: Dockerfile
    ports:
      - "8888:8888"
    environment:
      - SERVERS=server1:5001,server2:5002,server3:5003
    networks:
      - sd-network
    depends_on:
      - server1
      - server2
      - server3

  client:
    build:
      context: ./sdclient
      dockerfile: Dockerfile
    environment:
      - LOADBALANCER_HOST=loadbalancer
      - LOADBALANCER_PORT=8888
    networks:
      - sd-network
    depends_on:
      - loadbalancer
    volumes:
      - ./sdclient/data:/app/data
    stdin_open: true
    tty: true
  
  server1:
    build:
      context: ./sdserver
      dockerfile: Dockerfile
    container_name: server1 
    ports:
      - "5001:5001"
    environment:
      - OTHER_SERVERS=server2:5002,server3:5003
      - PORT=5001
      - SERVER_ID=server1
    networks:
      - sd-network
    volumes:
      - ./sdserver/data:/app/data

  server2:
    build:
      context: ./sdserver
      dockerfile: Dockerfile
    container_name: server2
    ports:
      - "5002:5002"
    environment:
      - OTHER_SERVERS=server1:5001,server3:5003
      - PORT=5002
      - SERVER_ID=server2
    networks:
      - sd-network
    volumes:
      - ./sdserver/data:/app/data

  server3:
    build:
      context: ./sdserver
      dockerfile: Dockerfile
    container_name: server3
    ports:
      - "5003:5003"
    environment:
      - OTHER_SERVERS=server1:5001,server2:5002
      - PORT=5003
      - SERVER_ID=server3
    networks:
      - sd-network
    volumes:
      - ./sdserver/data:/app/data

networks:
  sd-network:
    driver: bridge

